.che-slideshow {
	border: 1px solid black;
	position: relative;
}


.che-slideshow-slide {

	.che-slideshow-caption {
		bottom: 1em;
		position: absolute;
		width: 100%;
		text-align: center;
	}

	img {
		width: 100%;
	}

	&.active {}
	&.inactive {}
	&.activating {}
	&.deactivating {}
}

/* Controls */

@mixin arrow( $direction ) {
	#{ $direction }: 0;
	height: 60%;
	margin-top: -15%;
	opacity: 0.3;
	position: absolute;
	top: 50%;
	cursor: pointer;

	&:hover {
		opacity: 0.7;
	}
}

.slideshow-left-control { @include arrow( left ); }
.slideshow-right-control { @include arrow( right ); }


/* Indicators */

.slideshow-indicator-container {
		left: 50%;
		list-style: none;
		margin-left: -30%;
		padding-left: 0;
		position: absolute;
		text-align: center;
		top: -5px;
		width: 60%;
		z-index: 15;


		.slideshow-indicator {
			background-color: #fff;
			border: 1px solid #fff;
			border-radius: 5px;
			display: inline-block;
			height: 10px;
			width: 10px;
			
			&.active-indicator {
				background-color: transparent;
			}
		}
}